@media screen and (max-width: 1200px) {
  #search {
    width: 60rem;
  }

  .container-posts {
    height: 1000px;
    gap: 5rem;
    padding: 1rem 1rem;
  }

  .card-post {
    padding: 3rem;
    gap: 5rem;
    width: 60rem;
    border-radius: 0.8rem;

    height: 25rem;

    background: #17171a;
  }

  .post-date {
    font-size: 1.2rem;
  }

  .icon-heart {
    right: 2rem;
    top: 2.5rem;

    width: 2.5rem;
    height: 2.5rem;
  }
}
